<p>
  profile-editor-fb works!
</p>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class = "{{ (profileForm.controls.lastName.value != 'bob')?'grayout':'' }}" >
  
  <label for="controlField"> ControlField:</label>
  <div class="form-group" >
  <input type="text" formControlName="controlField" >
  <span *ngIf="!profileForm.controls.controlField.valid"  style="color: red">Error in controlField</span>
</div>

  <label for="firstName"> First Name:</label>
    <div class="form-group" [ngClass]="displayFieldCss('firstName')" >
    <input type="text" formControlName="firstName" >
    <span *ngIf="!profileForm.controls.firstName.valid && profileForm.controls.firstName.touched" style="color: red">Error in firstName (touch sensitive)</span>
  </div>
  

  <label>
    Last Name:
    <input type="text" formControlName="lastName">
  </label>
  <div formGroupName="address">
    <h3>Address</h3>
  
    <label>
      Street:
      <input type="text" formControlName="street">
    </label>
  
    <label>
      City:
      <input type="text" formControlName="city">
    </label>
    
    <label>
      State:
      <input type="text" formControlName="state">
    </label>
  
    <label>
      Zip Code:
      <input type="text" formControlName="zip">
    </label>
  </div>
  <div formArrayName="aliases">
    <h3>Aliases</h3> <button (click)="addAlias()">Add Alias</button>
  
    <div *ngFor="let address of aliases.controls; let i=index">
      <!-- The repeated alias template -->
      <label>
        Alias:
        <input type="text" [formControlName]="i">
      </label>
    </div>
  </div>
  <p>
    Form Status: {{ profileForm.status }}
  </p>
  <p>
    Form Value: {{ profileForm.value | json}}
  </p>
  <p>
    lastName : {{ profileForm.controls.lastName.value}}
  </p>

  <p>
    stylecheck : {{ profileForm.controls.lastName.value == 'bob' }}
  </p>

  <p>
    style : {{ (profileForm.controls.lastName.value == 'bob')?'grayout':'' }}
  </p>
  <p>
    <button (click)="updateProfile()">Update Profile</button>
  </p>
  <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>